body {
  background-image: url(images/background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150vh;
}

.main-div {
  width: 80%;
  border: 2px solid grey;
  border-radius: 10px;
  height: 130vh;
  background-color: darkgray;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  background-color: darkgrey;
}
nav ul li a{
  text-decoration: none;
  color: red;
  font-weight: bold;
  padding: 20px;
  font-size: 40px;
  font-style:oblique;
}

img{
  height: 150px;
  border-radius: 50%;

}

.p{
  display: none;
}

footer{
  margin-top: 150px;
}

@media only screen and (max-width: 1080px) {
  img{
    height: 100px;
    border-radius: 50%;
  
  }
}
@media only screen and (max-width: 780px) {
  img{
    height: 60px;
    border-radius: 50%;
  
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .heading{
    font-size: 20px;
  }
  .heading2{
    font-size: 15px;
  }
}